<!DOCTYPE html>
<html>
<head>
<title>Books Management</title>
<meta charset="utf-8">
<script type="text/javascript" src="../resources/js/bookmanagement.js"></script>
</head>

<body>
	<div class="container">
		<h2>Books Management</h2>
		<div class="topnav">
			<div class="search-container">
				<form action="#">
					<input type="text" placeholder="Search.." id="w-input-searchbook"
						name="search">
					<button type="submit">
						<i class="fa fa-search"></i>
					</button>
				</form>
			</div>
		</div>

		<table class="table">
			<thead>
				<tr class="trMenu">
					<th>ISBN</th>
					<th>Title</th>
					<th>Author</th>
					<th>Publish</th>
					<th>Short Description</th>
					<th>Total</th>
					<th>
						<!--button modal add-->
						<button type="button" class="btn btn-info btn-lg"
							data-toggle="modal" data-target="#addModal">
							<span class="glyphicon glyphicon-plus"></span>
						</button>

					</th>
				</tr>
			</thead>
			<tbody id="book-management">

			</tbody>
		</table>

		<div class="divNextPage">
			<nav aria-label="Page navigation" style="text-align: center">
				<ul class="pagination" id="pagination"></ul>
			</nav>
		</div>



		<!-- Modal Add -->
		<div class="modal fade" id="addModal" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Add New Book</h4>
					</div>
					<div class="modal-body">
						<div class="wrapper">
							<form id="addBookForm">
								<div class="form-group">
									<label for="inputISBN">ISBN</label> <input type="text"
										class="form-control" id="inputISBN" placeholder="Insert ISBN"
										maxlength="13" name="inputISBN">
								</div>
								<div class="form-group">
									<label for="inputTitle">Title Of The Book</label> <input
										type="text" class="form-control" id="inputTitle"
										placeholder="Title of the book" disabled>
								</div>
								<div class="form-group">
									<label for="inputAuthor">Author</label> <input type="text"
										class="form-control" id="inputAuthor" placeholder="Author"
										disabled>
								</div>
								<div class="form-group">
									<label for="inputPublishYear">Publish Year</label> <input
										type="text" class="form-control" id="inputPublishYear"
										placeholder="Publish Year" disabled>
								</div>
								<!--<div class="form-inputFile">
									<label for="inputFile">Choose file of your images </label> <input
										type="file" class="form-control-file" id="inputFile">
                                    
								</div>-->
								<label>Thumbnail</label>
								<div id="divchooseFile">
									<img id="inputImage" src="">
								</div>
								<br>
								<div class="form-group">
									<label for="inputTotal">Total</label> <input type="number"
										min="1" class="form-control" id="inputTotal"
										placeholder="Insert Total" name="inputTotal">
								</div>
								<br>
								<div class="form-group">
									<label for="inputShortDescription">Short Description</label>
									<textarea class="form-control" id="inputShortDescription"
										rows="3" disabled></textarea>
								</div>
							</form>
						</div>
					</div>
					<div class="modal-footer">
						<button id="addBook" onClick="myaddbook()" type="button" class="btn buttonOfEdit">Submit</button>
						<button id="close" type="button" class="btn buttonOfEdit"
							data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal Edit -->
		<div class="modal fade" id="editModal" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Edit</h4>
					</div>
					<div class="modal-body">
						<div class="wrapper">
							<!--EDIT BUTTON EDIT-->
							<table class="table1">
								<tr>
									<td class="tdColum">ISBN</td>
									<td class="tdColum2"><div class="form-group">
											<input id="book-isbn" type="text" class="form-control"
												value="1">
										</div></td>
								</tr>
								<tr>
									<td class="tdColum">Title</td>
									<td class="tdColum2"><div class="form-group">
											<input id="book-title" type="text" class="form-control"
												value="1">
										</div></td>
								</tr>
								<tr>
									<td class="tdColum">Author</td>
									<td class="tdColum2"><div class="form-group">
											<input id="book-author" type="text" class="form-control"
												value="1">
										</div></td>
								</tr>
								<tr>
									<td class="tdColum">Publish</td>
									<td class="tdColum2"><div class="form-group">
											<input id="book-publish-year" type="text"
												class="form-control" value="1">
										</div></td>
								</tr>
								<tr>
									<td class="tdColum">Short Description</td>
									<td class="tdColum2"><div class="form-group">
											<!-- <input id="book-description" type="text" class="form-control" value="1"> -->

											<textarea class="form-control" id="book-description" rows="4"></textarea>
										</div></td>
								</tr>
								<tr>
									<td class="tdColum">Total</td>
									<td class="tdColum2"><div class="form-group">
											<input id="book-total" type="text" class="form-control"
												value="1">
										</div></td>
								</tr>

							</table>
						</div>
						<!--END EDIT BUTTON EDIT-->
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-custom" onClick="addBook()">Submit</button>
						<button type="button" class="btn btn-custom" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>

</html>