<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>MY LIBRARY</title>
<meta name="description"
	content="Scarica gratis il nostro Template HTML/CSS GARAGE. Se avete bisogno di un design per il vostro sito web GARAGE può fare per voi. Web Domus Italia">
<meta name="author" content="Web Domus Italia">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Backup CSS -->
<link rel="stylesheet" type="text/css"
	href="/resources/css/css_home.css">
<!-- <link rel="stylesheet" href="../resources/css/adminCss2.css"
	type="text/css" /> -->
<script
	src="https://unpkg.com/sweetalert2@7.17.0/dist/sweetalert2.all.js"></script>
</head>
<body>
	<div class="allcontain">
		<div class="header">
			<ul class="givusacall">
				<li></li>
			</ul>
			<ul class="logreg">
				<li th:text="'Hello: ' +${userInfo[0]}+' &nbsp'"></li>
				<li th:if="${userInfo[1]=='ROLE_ADMIN'}"><a th:href="@{/bookmanagement}"><span class="register" >Manage</span></a></li>
				<li><a th:href="@{/logout}"><span class="register">Logout</span></a></li>
			</ul>
		</div>
		<!-- Navbar Up -->
		<nav class="topnavbar navbar-default topnav">
			<div class="container">
				<div class="navbar-header">
					<button type="button"
						class="navbar-toggle collapsed toggle-costume"
						data-toggle="collapse" data-target="#upmenu" aria-expanded="false">
						<span class="sr-only"> Toggle navigaion</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand logo" href="#"><img
						src="../resources/images/logo1.png" alt="logo"></a>
				</div>
			</div>
			<div class="collapse navbar-collapse" id="upmenu">
				<ul class="nav navbar-nav" id="navbarontop">
					<li class="active"><a th:href="@{/home}">HOME</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">ABOUT US <span class="caret"></span></a>
						<ul class="dropdown-menu dropdowncostume">
							<li><a href="../views/history.html">History</a></li>
							<li><a href="../views/policy.html">Policy</a></li>
						</ul></li>
					<li><a href="#">SERVICE SCHEDULE</a></li>
					<li><a id="menu-contact">CONTACT</a></li>
					<li><a id="menu-borrowed" data-toggle="modal" data-target="#modalview">BORROWED BOOKS</a></li>
				</ul>
			</div>
		</nav>
		<!--Borrowed Books  -->
		<!-- Modal View-->
		<div class="modal fade" id="modalview" role="dialog">
			<div class="modal-dialog modal-lg">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title" id="title-and-name">Borrowed Books</h4>
					</div>
					<div class="modal-body">
						<div class="wrapper">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>ISBN</th>
										<th>Title</th>
										<th>Author</th>
										<th>Publish</th>
										<th>Borrow Date</th>
										<!-- <th>Total</th> -->
									</tr>
								</thead>
								<tbody id="ticket-borrowed-book">
									

								</tbody>
							</table>

						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-custom btn-success" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		
		
	</div>
	<!--_______________________________________ Carousel__________________________________ -->
	<div class="allcontain">
		<div id="carousel-up" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner " role="listbox">
				<div class="item active">
					<img src="../resources/images/sach1.jpg" alt="sach1">
					<div class="carousel-caption"></div>
				</div>
				<div class="item">
					<img src="../resources/images/sach2.jpg" alt="sach2">
					<div class="carousel-caption"></div>
				</div>
				<div class="item">
					<img src="../resources/images/sach3.jpg" alt="sach3">
					<div class="carousel-caption"></div>
				</div>
			</div>
			<nav class="navbar navbar-default midle-nav">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed textcostume"
						data-toggle="collapse" data-target="#navbarmidle"
						aria-expanded="false">
						<h1>SEARCH TEXT</h1>
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="navbarmidle">
					<br>
					<br>
					<form class="navbar-form navbar-left searchformmargin"
						role="search" >
						<div class="form-group">
							<input type="text" id="w-input-search" class="searchText"
								name="txtSearch" placeholder="Enter Keyword">
						</div>
					</form>
					<ul class="nav navbar-nav navbarborder">
						<li class="li-search">
							<button id="searchbutton" class="searchbutton">
								<span class="glyphicon glyphicon-search "></span>
							</button>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<!-- ________________________LIST NEW BOOKS _______________________-->
	<div class="latestcars">
		<h1 class="text-center">LIST NEW BOOKS</h1>
	</div>
	<div class="maincontent-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="latest-book">
						<div class="product-carousel">
							<div th:each="newbook : ${listnewbooks}" class="single-product">
								<div class="badge-new">new</div>
								<div class="product-f-image">
									<div class="txthover">
										
										<img class="setImgListBook" th:src="${newbook.book.image}">
										<div class="txtcontent">
											<div class="stars">
												<div class="glyphicon glyphicon-star"></div>
												<div class="glyphicon glyphicon-star"></div>
												<div class="glyphicon glyphicon-star"></div>
											</div>
											<div class="simpletxt">
												<p class="name"
													th:text="'Title: '+${newbook.book.titleOfBook}"></p>
												<p th:text="'ISBN code: '+${newbook.isbn}"></p>
												<p th:text="'Author: '+${newbook.book.author}"></p>
												<p class="price"
													th:text="${newbook.totalBook>newbook.numberBooksBorrowed} ? 'Status: Available':'Status: Unavailable'">
												</p>
												<p th:text="'Year publish: '+${newbook.book.publishYear}">
												<p />
												<button class="btn btn-info" data-toggle="modal"
													data-target="#addModal" th:isbn="${newbook.isbn}">Read
													more</button>
												<button data-toggle="modal" data-target="#addModal"
													id="mytest" style="display: none;"></button>
												<button class="btn btn-success btn-borrow"
													th:if="${newbook.totalBook>newbook.numberBooksBorrowed}"
													th:isbn="${newbook.isbn}">BORROW</button>
												<button class="btn btn-success"
													th:if="${newbook.totalBook<=newbook.numberBooksBorrowed}"
													disabled>BORROW</button>
											</div>
											<div class="stars2">
												<div class="glyphicon glyphicon-star"></div>
												<div class="glyphicon glyphicon-star"></div>
												<div class="glyphicon glyphicon-star"></div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal Add -->
	<div class="modal fade" id="addModal" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Details Book</h4>
				</div>
				<div class="modal-body">
					<div class="wrapper">
						<form>
							<div id="divDetailImg">
								<img id="book-image" class="setImgDetail"
									src="../resources/images/nhatkytrongtu.jpg">
							</div>
							<br> <br>
							<div class="titleShowBook">
								<div class="form-group">
									<label>ISBN:</label>
									<p id="book-isbn">code in here</p>
								</div>
								<div class="form-group">
									<label>Title Of The Book:</label>
									<p id="book-title">Nhật Ký Trong Tù</p>
								</div>
								<div class="form-group">
									<label>Author:</label>
									<p id="book-author">Ho Chi Minh</p>
								</div>
								<div class="form-group">
									<label>Publish Year:</label>
									<p id="book-publish-year">2008</p>
								</div>
								<div class="form-group">
									<label>Short Description:</label>
									<p id="book-description">Somethings in here</p>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="modal-footer">
					<button id="addBook" type="button"
						class="btn btn-success btn-borrow">Borrow</button>
					<button id="close" type="button" class="btn btn-success"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- ________________________LIST BOOKS _______________________-->
	<div class="allcontain">
		<div class="latestcars">
			<h1 class="text-center">LIST BOOKS</h1>
		</div>
		<div class="galary" th:num="${numofpage}"></div>
		<nav aria-label="Page navigation">
			<ul class="pagination" id="pagination"></ul>
		</nav>
	</div>
	<div class="allcontain">
		<!-- _______________________________________________________Contact ______________________________-->
		<div class="allcontain">
			<div class="contact">
				<div class="newslettercontent">
					<div class="leftside">
						<img id="image_border" src="../resources/images/border.png"
							alt="border">
						<div class="contact-form lastestcars">
							<h1>Contact Us</h1>
							<div class="form-group group-coustume">
								<p class="form-control name-form">
									<strong>Library:</strong> DXC Library
								</p>
								<p class="form-control name-form">
									<strong>Phone:</strong> 0123456789
								</p>
								<p class="form-control name-form">
									<strong>Email:</strong> dxclibrary123@gmail.com
								</p>
								<p class="form-control name-form">
									<strong>Fax:</strong> dxclibrary123@gmail.com
								</p>
								<p class="form-control name-form">
									<strong>Address:</strong> 364 Cong Hoa, Tan Binh
								</p>
							</div>
						</div>
					</div>
					<div class="google-maps">
						<div id="googleMap"></div>

					</div>
				</div>

			</div>
		</div>
		<!-- ______________________________________________________End Contact ______________________________-->
		<!-- ______________________________________________________Bottom Menu ______________________________-->
		<div class="bottommenu">
			<div class="bottomlogo">
				<span class="dotlogo">&bullet;</span><img
					src="../resources/images/footerLogo.png" alt="logo1"><span
					class="dotlogo">&bullet;;</span>
			</div>
			<p>
				"To laugh with others is one of life’s great pleasures. To be
				laughed at by others is one of life’s great hurts."<br>
			</p>
			<img src="../resources/images/line.png" alt="line"> <br>
			<div class="bottomsocial">
				<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
					class="fa fa-twitter"></i></a> <a href="#"><i
					class="fa fa-google-plus"></i></a> <a href="#"><i
					class="fa fa-pinterest"></i></a>
			</div>
			<div class="footer">
				<div class="copyright">
					&copy; Copy right 2016 | <a href="#">Privacy </a>| <a href="#">Policy</a>
				</div>
				<div class="atisda">
					Designed by <a href="http://www.webdomus.net/">Group 2 -
						Fersher Java DXC.technology 04/2018</a>
				</div>
			</div>
		</div>
	</div>

	<!--Contact JS-->
	<script src="http://maps.googleapis.com/maps/api/js"></script>
	<script>
		var myCenter = new google.maps.LatLng(10.801726, 106.640103);

		function initialize() {
			var mapProp = {
				center : myCenter,
				zoom : 16,
				mapTypeId : google.maps.MapTypeId.ROADMAP
			};

			var map = new google.maps.Map(document.getElementById("googleMap"),
					mapProp);

			var marker = new google.maps.Marker({
				position : myCenter,
			});

			marker.setMap(map);
		}
	</script>
	<!--    Cái Script này dùng cho cả google API, cố định để đây không được di chuyển. -->
	<script type="text/javascript"
		src="../resources/source/bootstrap-3.3.6-dist/js/headerFooter.jquery.js"></script>
	<script>
		$(window).resize(function() {
			var new_height = $("#image_border").height();
			console.log(new_height);
			$("#googleMap").height(new_height);
		});

		$(window).load(function() {
			var new_height = $("#image_border").height();
			$("#googleMap").height(new_height);
			google.maps.event.addDomListener(window, 'load', initialize());
		});
	</script>
	<!--End contact JS-->

	<script type="text/javascript"
		src="/resources/source/bootstrap-3.3.6-dist/js/headerFooter.jquery.js"></script>
	<script type="text/javascript"
		src="/resources/js/headerFooter.isotope.js"></script>
	<script type="text/javascript"
		src="/resources/js/headerFooter.myscript.js"></script>
	<script type="text/javascript"
		src="/resources/js/headerFooter.bootstrap.js"></script>
	<!-- Google Fonts  Phần khung show book-->
	<script src="https://code.jquery.com/jquery.min.js"></script>
	<script src="/resources/js/showBook.owl.carousel.min.js"></script>
	<script src="/resources/js/showBook.jquery.sticky.js"></script>
	<script src="/resources/js/showBook.main.js"></script>
	<!-- Pagination -->
	<script src="/resources/js/jquery.twbsPagination.min.js"></script>
	<script src="/resources/js/homePagination.js"></script>



	<script src="/resources/core/jquery.autocomplete.min.js" /></script>
	<link href="/resources/core/main.css" rel="stylesheet">
</body>
</html>