<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="../resources/images/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="/resources/css/registerUtil.css">
<link rel="stylesheet" type="text/css"
	href="/resources/css/registerCss.css">
<link rel="stylesheet" type="text/css"
	href="/resources/css/loginUtil.css">
<link rel="stylesheet" type="text/css"
	href="/resources/css/loginCss.css">
<link rel="stylesheet" type="text/css" href="/resources/css/general.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<!--<link rel="stylesheet" type="text/css" href="../static/resources/css/registerUtil.css">
<link rel="stylesheet" type="text/css" href="../static/resources/css/registerCss.css">
<link rel="stylesheet" type="text/css" href="../static/resources/css/loginUtil.css">
<link rel="stylesheet" type="text/css" href="../static/resources/css/loginCss.css">
<link rel="stylesheet" type="text/css" href="../static/resources/css/general.css">-->
</head>
<body>
<div class"wrapper">
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title"
					style="background-image: url(../resources/images/bg-01.jpg);">
					<span class="login100-form-title-1"> Sign In </span>
				</div>

				<form class="login100-form " name="login" novalidate
					th:action="@{/j_spring_security_check}" method='POST'>
					<div th:if="${#request.getParameter('error') == 'true'}">
						<span class="error"
							>Login
							Failed! Check your username or passowrd.</span> <br>
					</div>
					<!-- username -->
					<div class="wrap-input100 validate-input m-b-5">
						<span class="label-input100">Username</span> <input
							class="input100" type="text" name="username"
							placeholder="Enter username"> <span
							class="focus-input100"></span>
					</div>

					<!-- password -->
					<div class="wrap-input100 validate-input m-b-5">
						<span class="label-input100">Password</span> <input
							class="input100" type="password" name="password"
							placeholder="Enter password" id="inputPass"> <span
							class="focus-input100"></span>
					</div>
                    <div class="divctrlSubmit">
                        <div class="cssCheckbox">
                            <input type="checkbox" onclick="myFunction()">Show Password<br><br>
                            <input type="checkbox"/>Remember me
                        </div>
                        <br>
                        <div class="cssbottomctrlSubmit">
                            <input class="login100-form-btn" name="submit" type="submit" value="Submit" />
                            <p>If you dont have account, <a href="#">Click here</a></p>
                        </div>
                    </div>
                    
                  
				</form>
			</div>
		</div>
	</div>
    </div>



	<!--===============================================================================================-->
    <script>
        function myFunction() {
            var x = document.getElementById("inputPass");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</body>
</html>