<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Reports Management</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link
	href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
	rel="stylesheet" type="text/css" />
<link
	href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css"
	rel="stylesheet" type="text/css" />
<script
	src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
<link type="text/css" rel="stylesheet"
	href="/resources/css/adminCss2.css" />
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="/resources/js/statistic.js"></script>

</head>
<body>
	<th:block th:include="_adminheader"></th:block>
	<div class="wrapper">
		<div class="container">
			<div id="mySidenav" class="sidenav">
				<a href="#" id="week">Week</a> <a href="#" id="month">Month</a> <a
					href="#" id="year">Year</a>

			</div>
			<br />
			<div id="chooseYear">
				<h3>Choose Year</h3>
				<div class="ui calendar" id="yearOnly">
					<div class="ui input left icon">
						<i class="time icon"></i> <input id="inputYear" type="text"
							placeholder="Time">
					</div>
				</div>
			</div>

			<div id="chooseMonth">
				<h3>Month and year</h3>
				<div class="ui calendar" id="monthAndYear">
					<div class="ui input left icon">
						<i class="time icon"></i> <input id="inputMonthAndYear"
							type="text" placeholder="Time">
					</div>
				</div>
				<br />
			</div>

			<div id="chooseWeek">
				<h3>Date only</h3>
				<div class="ui calendar" id="weekOfChoosenDate">
					<div class="ui input left icon">
						<i class="calendar icon"></i> <input type="text" id="inputDate"
							placeholder="Date">
					</div>
				</div>
				<br />
			</div>

			<div id="chartContainer"
				style="height: auto; width: 100%; margin-bottom: 400px"></div>
			<br>
			<hr>
			<div id="chartContainer2" style="height: auto; width: 100%;"></div>
		</div>
	</div>
	<th:block th:include="_adminfooter"></th:block>
</body>
</html>