<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>MY LIBRARY </title>
	<meta name="description" content="Scarica gratis il nostro Template HTML/CSS GARAGE. Se avete bisogno di un design per il vostro sito web GARAGE può fare per voi. Web Domus Italia">
	<meta name="author" content="Web Domus Italia">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--    Backup CSS-->
	<script type="text/javascript"
		src="/resources/source/bootstrap-3.3.6-dist/js/headerFooter.jquery.js"></script>
	<script type="text/javascript"
		src="/resources/js/headerFooter.isotope.js"></script>
	<script type="text/javascript"
		src="/resources/js/headerFooter.myscript.js"></script>
	<script type="text/javascript"
		src="/resources/js/headerFooter.bootstrap.js"></script>
	<script src="/resources/js/nothome.js"></script>



	<script src="/resources/core/jquery.autocomplete.min.js" /></script>
	<link href="/resources/core/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../resources/css/css_home.css">
</head>
<body>
<div class="allcontain">
		<div class="header">
			<ul class="givusacall">
				<li></li>
			</ul>
			<ul class="logreg">
				<li th:text="'Hello: ' +${userInfo[0]}+' &nbsp'"></li>
				<li th:if="${userInfo[1]=='ROLE_ADMIN'}"><a th:href="@{/bookmanagement}"><span class="register" >Manage</span></a></li>
				<li><a th:href="@{/logout}"><span class="register">Logout</span></a></li>
			</ul>
		</div>
		<!-- Navbar Up -->
		<nav class="topnavbar navbar-default topnav">
			<div class="container">
				<div class="navbar-header">
					<button type="button"
						class="navbar-toggle collapsed toggle-costume"
						data-toggle="collapse" data-target="#upmenu" aria-expanded="false">
						<span class="sr-only"> Toggle navigaion</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand logo" href="#"><img
						src="../resources/images/logo1.png" alt="logo"></a>
				</div>
			</div>
			<div class="collapse navbar-collapse" id="upmenu">
				<ul class="nav navbar-nav" id="navbarontop">
					<li class="active"><a th:href="@{/home}">HOME</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">ABOUT US <span class="caret"></span></a>
						<ul class="dropdown-menu dropdowncostume">
							<li><a th:href="@{/home/history}">History</a></li>
							<li><a th:href="@{/home/policy}">Policy</a></li>
						</ul></li>
					<li><a th:href="@{/home/service-schedule}">SERVICE SCHEDULE</a></li>
					<li><a id="menu-borrowed" data-toggle="modal" data-target="#modalview">BORROWED BOOKS</a></li>
				</ul>
			</div>
		</nav>
		<!--Borrowed Books  -->
		<!-- Modal View-->
		<div class="modal fade" id="modalview" role="dialog">
			<div class="modal-dialog modal-lg">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title" id="title-and-name">Borrowed Books</h4>
					</div>
					<div class="modal-body">
						<div class="wrapper">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>ISBN</th>
										<th>Title</th>
										<th>Author</th>
										<th>Publish</th>
										<th>Borrow Date</th>
										<!-- <th>Total</th> -->
									</tr>
								</thead>
								<tbody id="ticket-borrowed-book">
									

								</tbody>
							</table>

						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-custom btn-success" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		
		
	</div>
	<!--_______________________________________ Carousel__________________________________ -->
	<div class="allcontain">
		<div id="carousel-up" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner " role="listbox">
				<div class="item active">
					<img src="../resources/images/sach1.jpg" alt="sach1">
					<div class="carousel-caption"></div>
				</div>
				<div class="item">
					<img src="../resources/images/sach2.jpg" alt="sach2">
					<div class="carousel-caption"></div>
				</div>
				<div class="item">
					<img src="../resources/images/sach3.jpg" alt="sach3">
					<div class="carousel-caption"></div>
				</div>
			</div>
		
		</div>
	</div>

	
<!-- ________________________Schedule _______________________-->
<div class="allcontain">
    <div class="container">
	   <h1 class="text-center"> &#x261E; Opening Hours &#x261C;</h1>
    <p>We're open 24 hours a day during term time<br>
Please see below information on opening times for minimum sevice periods</p>
    <table class="table">
			<thead>
				<tr>
					<th>Day</th>
					<th>Opening Times</th>
					<th>Staffed Service Times</th>
                </tr>
			</thead>
			<tbody>
				<tr>
					<td>Monday </td>
					<td>24 hour opening</td>
					<td>8.45am-7.00pm</td>
				</tr>
                <tr>
					<td>Tuesday </td>
					<td>24 hour opening</td>
					<td>8.45am-7.00pm</td>
				</tr>
                <tr>
					<td>Wednesday </td>
					<td>24 hour opening</td>
					<td>8.45am-7.00pm</td>
				</tr>
                <tr>
					<td>Thursday </td>
					<td>24 hour opening</td>
					<td>8.45am-7.00pm</td>
				</tr>
                <tr>
					<td>Friday </td>
					<td>24 hour opening</td>
					<td>8.45am-7.00pm</td>
				</tr>
                <tr>
					<td>Saturday </td>
					<td>24 hour opening</td>
					<td>10.00am-5.00pm</td>
				</tr>
                <tr>
					<td>Sunday </td>
					<td>24 hour opening</td>
					<td>10.00am-5.00pm</td>
				</tr>
			</tbody>
		</table>
        </div>
</div>  
    
    
<div class="allcontain">
		
		<!-- ______________________________________________________Bottom Menu ______________________________-->
		<div class="bottommenu">
			<div class="bottomlogo">
				<span class="dotlogo">&bullet;</span><img
					src="../resources/images/footerLogo.png" alt="logo1"><span
					class="dotlogo">&bullet;;</span>
			</div>
			<p>
				"To laugh with others is one of life’s great pleasures. To be
				laughed at by others is one of life’s great hurts."<br>
			</p>
			<img src="../resources/images/line.png" alt="line"> <br>
			<div class="bottomsocial">
				<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
					class="fa fa-twitter"></i></a> <a href="#"><i
					class="fa fa-google-plus"></i></a> <a href="#"><i
					class="fa fa-pinterest"></i></a>
			</div>
			<div class="footer">
				<div class="copyright">
					&copy; Copy right 2016 | <a href="#">Privacy </a>| <a href="#">Policy</a>
				</div>
				<div class="atisda">
					Designed by <a href="http://www.webdomus.net/">Group 2 -
						Fresher Java DXC.technology 04/2018</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>