.divParagrap{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

#historyImg{
    margin-left: 28%;
}

/*css Schedule*/
.table1{
    width: 100%;
    max-width: 61%;
    margin-bottom: 20px;
    margin-left: 26%;
}
