<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>MY LIBRARY </title>
	<meta name="description" content="Scarica gratis il nostro Template HTML/CSS GARAGE. Se avete bisogno di un design per il vostro sito web GARAGE può fare per voi. Web Domus Italia">
	<meta name="author" content="Web Domus Italia">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!---->
</head>
<body>
<!-- Header -->

<!-- Google Fonts  Phần header va footer-->
<link rel="stylesheet" type="text/css" href="../resources/css/headerFooter.bootstrap.css">
<link rel="stylesheet" type="text/css" href="../resources/css/headerFooter.font-awesome.css">
<link rel="stylesheet" type="text/css" href="../resources/css/headerFooter.slider.css">
<link rel="stylesheet" type="text/css" href="../resources/css/headerFooter.mystyle.css">

<!-- Google Fonts  Phần khung show book-->
<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../resources/css/showBook.owl.carousel.css">
<link rel="stylesheet" href="../resources/css/showBook.styleBody.css">
    <!-- Css of policy and history-->
<link rel="stylesheet" href="../resources/css/policyHistoryAndSchedule.css">
<!--Bach sua-->
<!--
<link data-require="bootstrap-css@2.3.2" data-semver="2.3.2" rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />
<link rel="stylesheet" type="text/css" href="../resources/css/home.css">
-->



<div class="allcontain">
	<div class="header">
			<ul class="socialicon">
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
			</ul>
			<ul class="givusacall">
				<li></li>
			</ul>
			<ul class="logreg">
				<li><a href="#">Login </a> </li>
				<li><a href="#"><span class="register">Register</span></a></li>
			</ul>
	</div>
	<!-- Navbar Up -->
	<nav class="topnavbar navbar-default topnav">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed toggle-costume" data-toggle="collapse" data-target="#upmenu" aria-expanded="false">
					<span class="sr-only"> Toggle navigaion</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand logo" href="#"><img src="../resources/images/logo1.png" alt="logo"></a>
			</div>	 
		</div>
		<div class="collapse navbar-collapse" id="upmenu">
			<ul class="nav navbar-nav" id="navbarontop">
				<li class="active"><a href="../views/home.html">HOME</a> </li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle"	data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ABOUT US <span class="caret"></span></a>
					<ul class="dropdown-menu dropdowncostume">
						<li><a href="../views/history.html">History</a></li>
						<li><a href="../views/policy.html">Policy</a></li>
					</ul>
				</li>
				<li>
					<a href="#">SERVICE SCHEDULE</a> 
				</li>
				<li>
					<a href="contact.html">CONTACT</a>
				</li>
			</ul>
		</div>
	</nav>
</div>
<!--_______________________________________ Carousel__________________________________ -->
<div class="allcontain">
	<div id="carousel-up" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner " role="listbox">
			<div class="item active">
				<img src="../resources/images/sach1.jpg" alt="sach1">
				<div class="carousel-caption">
					
				</div>
			</div>
			<div class="item">
				<img src="../resources/images/sach2.jpg" alt="sach2">
				<div class="carousel-caption">
					
				</div>
			</div>
			<div class="item">
				<img src="../resources/images/sach3.jpg" alt="sach3">
				<div class="carousel-caption">
					<!--<h2>Car</h2>
					<p>Lorem ipsum dolor sit amet, consectetur ,<br>
						sed do eiusmod tempor incididunt ut labore </p>-->
				</div>
			</div>
		</div>
		<nav class="navbar navbar-default midle-nav">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed textcostume" data-toggle="collapse" data-target="#navbarmidle" aria-expanded="false">
						<h1>SEARCH TEXT</h1>
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="navbarmidle">
				<br><br>
				<form class="navbar-form navbar-left searchformmargin" role="search">
					<div class="form-group">
<!--						<input type="text" class="form-control searchform" placeholder="Enter Keyword">-->
                        <input type="text" class="searchText" name="txtSearch" placeholder="Enter Keyword">
					</div>
				</form>
				<ul class="nav navbar-nav navbarborder">
					<li class="li-search"> <button class="searchbutton"><span class="glyphicon glyphicon-search "></span></button></li>
				</ul>
			</div>
		</nav>
	</div>
</div>

	
<!-- ________________________HISTORY _______________________-->
<div class="allcontain">
    <div class="latestcars">
	   <h1 class="text-center"> &#x261E; History of Library &#x261C;</h1>
    </div>
    <div id="historyImg">
        <img src="../resources/images/history.png">
    </div>
    <div class="divParagrap">
        <p> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; Over the course of six centuries the University Library’s collection have grown from a few dozen volumes on a handful of subjects into an extraordinary accumulation of several million books, maps, manuscripts and journals, augmented by an ever-increasing range of electronic resources. They cover every conceivable aspect of human endeavour, across three thousand years and in over two thousand languages. From its beginnings as an asset for a tiny community of theologians and canon lawyers in the medieval university, the Library’s mission has expanded to serve the international scholarly community and now, through its digitisation projects, to reach new audiences across the world.</p>
        <p>The Library keeps evolving. In recent years we have been given the magnificent Montaigne Library of Gilbert de Botton, the literary archive of Dame Margaret Drabble, and the Chadwyck-Healey Liberation Collection, the definitive collection of French books published following the German retreat from French soil on 25 August 1944, donated by Sir Charles Chadwyck-Healey. Our major purchases have included the archive of the war poet Siegfried Sassoon and the important manuscript of St Luke’s Gospel known as the ‘Codex Zacynthius’, both supported with grants from the National Heritage Memorial Fund and the Friends of the National Libraries. A ground-breaking collaboration with the Bodleian Libraries also saw the Library jointly acquire the Lewis-Gibson Collection of Hebrew and Arabic manuscripts from the Cairo Genizah, collected by the twin Scottish sisters Agnes Lewis and Margaret Gibson.</p>
        <p>So while we conserve this unique cultural heritage for the future, we are simultaneously finding new ways to share it with the present generation by building a digital library. Anyone with an internet connection and a desire for knowledge can view letters written by Moses Maimonides, Newton’s autograph propositions on elliptic motion, or sketchbooks from Darwin’s voyage of the beagle. Through the digital library, communities of readers around the globe can help create a richer understanding of the material held in our care.</p>
        <p>Great collections are brought to life by great people – students and scholars, and visitors to the Library past, present and future.</p>
        <p>In this section you will find information about the governance of the Library.  Further information is available on ways of supporting the Library. You will also find links to the scholarships and prizes associated with the Library.</p>
    </div>
</div>  
    
    
<!-- _______________________________News Letter ____________________-->
    <div class="allcontain">   
	<div class="newslettercontent">
		<div class="leftside">
			<img src="../resources/images/border.png" alt="border">
			<h1>NEWSLETTER</h1>
			<p>Subscribe to the COLLECTIONCARS mailing list to <br>
				receive updates on new arrivals, special offers <br>
				and other discount information.</p>
		</div>
		<div class="rightside">
			<img class="newsimage" src="../resources/images/newsletter.jpg" alt="newsletter">
			<input type="text" class="form-control" id="subemail" placeholder="EMAIL">
			<button>SUBSCRIBE</button>
		</div>
	</div>
	<!-- ______________________________________________________Bottom Menu ______________________________-->
	<div class="bottommenu">
		<div class="bottomlogo">
		<span class="dotlogo">&bullet;</span><img src="../resources/images/footerLogo.png" alt="logo1"><span class="dotlogo">&bullet;;</span>
		</div>
		<ul class="nav nav-tabs bottomlinks">
			<li role="presentation" ><a href="#/" role="button">HOME</a></li>
			<li role="presentation"><a href="#/">ABOUT US</a></li>
			<li role="presentation"><a href="#/">FIND US</a></li>
			<li role="presentation"><a href="#/">CONTACT US</a></li>
		</ul>
		<p>"To laugh with others is one of life’s great pleasures. To be laughed at by others is one of life’s great hurts."<br> </p>
		 <img src="../resources/images/line.png" alt="line"> <br>
		 <div class="bottomsocial">
		 	<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-google-plus"></i></a>
			<a href="#"><i class="fa fa-pinterest"></i></a>
		</div>
			<div class="footer">
				<div class="copyright">
				  &copy; Copy right 2016 | <a href="#">Privacy </a>| <a href="#">Policy</a>
				</div>
				<div class="atisda">
					 Designed by <a href="http://www.webdomus.net/">Group 2 - Fersher Java DXC.technology 04/2018</a> 
				</div>
			</div>
	</div>
</div>




<script type="text/javascript" src="../resources/source/bootstrap-3.3.6-dist/js/headerFooter.jquery.js"></script>
<script type="text/javascript" src="../resources/js/headerFooter.isotope.js"></script>
<script type="text/javascript" src="../resources/js/headerFooter.myscript.js"></script> 
<!--<script type="text/javascript" src="js/jquery.1.11.js"></script>-->
<script type="text/javascript" src="../resources/js/headerFooter.bootstrap.js"></script>
    <!-- Google Fonts  Phần khung show book-->
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="../resources/js/showBook.owl.carousel.min.js"></script>
<script src="../resources/js/showBook.jquery.sticky.js"></script>    
<script src="../resources/js/showBook.main.js"></script>
<!--</body>-->
<!--</html>-->