<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>MY LIBRARY </title>
	<meta name="description" content="Scarica gratis il nostro Template HTML/CSS GARAGE. Se avete bisogno di un design per il vostro sito web GARAGE può fare per voi. Web Domus Italia">
	<meta name="author" content="Web Domus Italia">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!---->
</head>
<body>
<!-- Header -->

<!-- Google Fonts  Phần header va footer-->
<link rel="stylesheet" type="text/css" href="../resources/css/headerFooter.bootstrap.css">
<link rel="stylesheet" type="text/css" href="../resources/css/headerFooter.font-awesome.css">
<link rel="stylesheet" type="text/css" href="../resources/css/headerFooter.slider.css">
<link rel="stylesheet" type="text/css" href="../resources/css/headerFooter.mystyle.css">

<!-- Google Fonts  Phần khung show book-->
<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../resources/css/showBook.owl.carousel.css">
<link rel="stylesheet" href="../resources/css/showBook.styleBody.css">
    <!-- Css of policy and history-->
<link rel="stylesheet" href="../resources/css/policyHistoryAndSchedule.css">
    
<!--Bach sua-->
<!--
<link data-require="bootstrap-css@2.3.2" data-semver="2.3.2" rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />
<link rel="stylesheet" type="text/css" href="../resources/css/home.css">
-->



<div class="allcontain">
	<div class="header">
			<ul class="socialicon">
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
			</ul>
			<ul class="givusacall">
				<li></li>
			</ul>
			<ul class="logreg">
				<li><a href="#">Login </a> </li>
				<li><a href="#"><span class="register">Register</span></a></li>
			</ul>
	</div>
	<!-- Navbar Up -->
	<nav class="topnavbar navbar-default topnav">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed toggle-costume" data-toggle="collapse" data-target="#upmenu" aria-expanded="false">
					<span class="sr-only"> Toggle navigaion</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand logo" href="#"><img src="../resources/images/logo1.png" alt="logo"></a>
			</div>	 
		</div>
		<div class="collapse navbar-collapse" id="upmenu">
			<ul class="nav navbar-nav" id="navbarontop">
				<li class="active"><a href="../views/home.html">HOME</a> </li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle"	data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ABOUT US <span class="caret"></span></a>
					<ul class="dropdown-menu dropdowncostume">
						<li><a href="../views/history.html">History</a></li>
						<li><a href="../views/policy.html">Policy</a></li>
					</ul>
				</li>
				<li>
					<a href="#">SERVICE SCHEDULE</a> 
				</li>
				<li>
					<a href="contact.html">CONTACT</a>
				</li>
			</ul>
		</div>
	</nav>
</div>
<!--_______________________________________ Carousel__________________________________ -->
<div class="allcontain">
	<div id="carousel-up" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner " role="listbox">
			<div class="item active">
				<img src="../resources/images/sach1.jpg" alt="sach1">
				<div class="carousel-caption">
					
				</div>
			</div>
			<div class="item">
				<img src="../resources/images/sach2.jpg" alt="sach2">
				<div class="carousel-caption">
					
				</div>
			</div>
			<div class="item">
				<img src="../resources/images/sach3.jpg" alt="sach3">
				<div class="carousel-caption">
					<!--<h2>Car</h2>
					<p>Lorem ipsum dolor sit amet, consectetur ,<br>
						sed do eiusmod tempor incididunt ut labore </p>-->
				</div>
			</div>
		</div>
		<nav class="navbar navbar-default midle-nav">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed textcostume" data-toggle="collapse" data-target="#navbarmidle" aria-expanded="false">
						<h1>SEARCH TEXT</h1>
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="navbarmidle">
				<br><br>
				<form class="navbar-form navbar-left searchformmargin" role="search">
					<div class="form-group">
<!--						<input type="text" class="form-control searchform" placeholder="Enter Keyword">-->
                        <input type="text" class="searchText" name="txtSearch" placeholder="Enter Keyword">
					</div>
				</form>
				<ul class="nav navbar-nav navbarborder">
					<li class="li-search"> <button class="searchbutton"><span class="glyphicon glyphicon-search "></span></button></li>
				</ul>
			</div>
		</nav>
	</div>
</div>

	
<!-- ________________________POLICY _______________________-->
<div class="allcontain">
    <div class="latestcars">
	   <h1 class="text-center"> &#x261E; Privacy notice and web privacy policy &#x261C;</h1>
    </div>
    <div class="divParagrap">
        <p><strong>Privacy notice</strong></p>
        <p>Cambridge University Library and its affiliates use your personal information:</p>
        <ul>
            <li>to carry out our statutory functions supporting teaching, learning and research (e.g. providing access to or answering enquiries about our holdings)</li>
            <li>in order to deliver our contractual obligations to you as a user of library services (e.g. responding to orders for digital images)</li>
            <li>in accordance with the consents you have given us which you can withdraw at any time (e.g. in connection with extended borrowing rights)</li>
            <li>to fulfil legal obligations (e.g. protecting copyright)</li>
            <li>to improve on and keep in touch about our services (e.g. the availability of a book you requested)</li>
            <li>in pursuit of our legitimate interests (e.g. managing the Friends of Cambridge University Library).</li>
        </ul>    
        <p>In connection with your registration and use of the library as a reader, we may share your data with the Colleges.</p>
        <p>
            The full range of services is set out on our website 
            <a href="#">https://www.lib.cam.ac.uk</a> and our library rules are at <a href="#">http://www.lib.cam.ac.uk/using</a>
        </p>
        <p>
            For more information about how we handle your personal information, and your rights under data protection legislation, please see <a href="#">https://www.information-compliance.admin.cam.ac.uk/data-protection/general-data.</a>
        </p>
        <p>&nbsp;</p>
        <p><strong>Website privacy policy</strong></p>
        <p>
            &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;This page also explains what personal information we gather when you visit the specific website within the University of Cambridge domain called Cambridge University Library.
        </p>
        <p>The information published here applies to the use of your personal information by the University of Cambridge through the viewing or use of its site.</p>
        <p>When you visit any of the websites within the University of Cambridge domain we hold certain information about you for service and security reasons. For more information on this, please see <a href="#">http://www.cam.ac.uk/about-this-site/privacy-policy</a>.</p>
        <p>In connection with certain library services this site asks you to provide information about yourself via forms. We gather this information so that we can process reader registrations, inter-library loans, enquiries and feedback, reprography requests, philanthropic donations and membership, newsletter distribution and attendance at events and training, and to protect copyright. We use this personal data in accordance with the legal bases set out in the privacy notice above.</p>
        <p>This page was last updated in March 2018.</p>
    </div>
</div>  
    
    
<!-- _______________________________News Letter ____________________-->
    <div class="allcontain">   
	<div class="newslettercontent">
		<div class="leftside">
			<img src="../resources/images/border.png" alt="border">
			<h1>NEWSLETTER</h1>
			<p>Subscribe to the COLLECTIONCARS mailing list to <br>
				receive updates on new arrivals, special offers <br>
				and other discount information.</p>
		</div>
		<div class="rightside">
			<img class="newsimage" src="../resources/images/newsletter.jpg" alt="newsletter">
			<input type="text" class="form-control" id="subemail" placeholder="EMAIL">
			<button>SUBSCRIBE</button>
		</div>
	</div>
	<!-- ______________________________________________________Bottom Menu ______________________________-->
	<div class="bottommenu">
		<div class="bottomlogo">
		<span class="dotlogo">&bullet;</span><img src="../resources/images/footerLogo.png" alt="logo1"><span class="dotlogo">&bullet;;</span>
		</div>
		<ul class="nav nav-tabs bottomlinks">
			<li role="presentation" ><a href="#/" role="button">HOME</a></li>
			<li role="presentation"><a href="#/">ABOUT US</a></li>
			<li role="presentation"><a href="#/">FIND US</a></li>
			<li role="presentation"><a href="#/">CONTACT US</a></li>
		</ul>
		<p>"To laugh with others is one of life’s great pleasures. To be laughed at by others is one of life’s great hurts."<br> </p>
		 <img src="../resources/images/line.png" alt="line"> <br>
		 <div class="bottomsocial">
		 	<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-google-plus"></i></a>
			<a href="#"><i class="fa fa-pinterest"></i></a>
		</div>
			<div class="footer">
				<div class="copyright">
				  &copy; Copy right 2016 | <a href="#">Privacy </a>| <a href="#">Policy</a>
				</div>
				<div class="atisda">
					 Designed by <a href="http://www.webdomus.net/">Group 2 - Fersher Java DXC.technology 04/2018</a> 
				</div>
			</div>
	</div>
</div>




<script type="text/javascript" src="../resources/source/bootstrap-3.3.6-dist/js/headerFooter.jquery.js"></script>
<script type="text/javascript" src="../resources/js/headerFooter.isotope.js"></script>
<script type="text/javascript" src="../resources/js/headerFooter.myscript.js"></script> 
<!--<script type="text/javascript" src="js/jquery.1.11.js"></script>-->
<script type="text/javascript" src="../resources/js/headerFooter.bootstrap.js"></script>
    <!-- Google Fonts  Phần khung show book-->
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="../resources/js/showBook.owl.carousel.min.js"></script>
<script src="../resources/js/showBook.jquery.sticky.js"></script>    
<script src="../resources/js/showBook.main.js"></script>
<!--</body>-->
<!--</html>-->