<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <p>We're open 24 hours a day during term time
Please see below information on opening times for minimum sevice periods

Library steps at night

Day	Opening Times	Staffed Service Times
Monday 	24 hour opening	8.45am-7.00pm
Tuesday	24 hour opening	8.45am-7.00pm
Wednesday	24 hour opening	8.45am-7.00pm
Thursday	24 hour opening	8.45am-7.00pm
Friday	24 hour opening	8.45am-7.00pm
Saturday	24 hour opening	10.00am-5.00pm
Sunday	24 hour opening	10.00am-5.00pm</p>
</body>
</html>
