<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>MY LIBRARY </title>
	<meta name="description" content="Scarica gratis il nostro Template HTML/CSS GARAGE. Se avete bisogno di un design per il vostro sito web GARAGE può fare per voi. Web Domus Italia">
	<meta name="author" content="Web Domus Italia">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Backup CSS -->
	<link rel="stylesheet" type="text/css" href="../resources/css/css_home.css">
</head>
<body>
<!-- Header -->
<div class="allcontain">
	<div class="header">
			<ul class="socialicon">
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
			</ul>
			<ul class="givusacall">
				<li></li>
			</ul>
			<ul class="logreg">
				<li><a href="#">Login </a> </li>
				<li><a href="#"><span class="register">Register</span></a></li>
			</ul>
	</div>
	<!-- Navbar Up -->
	<nav class="topnavbar navbar-default topnav">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed toggle-costume" data-toggle="collapse" data-target="#upmenu" aria-expanded="false">
					<span class="sr-only"> Toggle navigaion</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand logo" href="#"><img src="../resources/images/logo1.png" alt="logo"></a>
			</div>	 
		</div>
		<div class="collapse navbar-collapse" id="upmenu">
			<ul class="nav navbar-nav" id="navbarontop">
				<li class="active"><a href="#">HOME</a> </li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle"	data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ABOUT US <span class="caret"></span></a>
					<ul class="dropdown-menu dropdowncostume">
						<li><a href="#">History</a></li>
						<li><a href="#">Policy</a></li>
					</ul>
				</li>
				<li>
					<a href="#">SERVICE SCHEDULE</a> 
				</li>
				<li>
					<a href="contact.html">CONTACT</a>
				</li>
			</ul>
		</div>
	</nav>
</div>
<!--_______________________________________ Carousel__________________________________ -->
<div class="allcontain">
	<div id="carousel-up" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner " role="listbox">
			<div class="item active">
				<img src="../resources/images/sach1.jpg" alt="sach1">
				<div class="carousel-caption">
					
				</div>
			</div>
			<div class="item">
				<img src="../resources/images/sach2.jpg" alt="sach2">
				<div class="carousel-caption">
					
				</div>
			</div>
			<div class="item">
				<img src="../resources/images/sach3.jpg" alt="sach3">
				<div class="carousel-caption">
					<!--<h2>Car</h2>
					<p>Lorem ipsum dolor sit amet, consectetur ,<br>
						sed do eiusmod tempor incididunt ut labore </p>-->
				</div>
			</div>
		</div>
		<nav class="navbar navbar-default midle-nav">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed textcostume" data-toggle="collapse" data-target="#navbarmidle" aria-expanded="false">
						<h1>SEARCH TEXT</h1>
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="navbarmidle">
				<br><br>
				<form class="navbar-form navbar-left searchformmargin" role="search">
					<div class="form-group">
<!--						<input type="text" class="form-control searchform" placeholder="Enter Keyword">-->
                        <input type="text" class="searchText" name="txtSearch" placeholder="Enter Keyword">
					</div>
				</form>
				<ul class="nav navbar-nav navbarborder">
					<li class="li-search"> <button class="searchbutton"><span class="glyphicon glyphicon-search "></span></button></li>
				</ul>
			</div>
		</nav>
	</div>
</div>

<div class="allcontain">
	
<!-- ________________________LATEST BOOKS SECTION _______________________-->
<div class="latestcars">
	<h1 class="text-center">&bullet; NEW LIST BOOKS &bullet;</h1>
</div>
<div class="maincontent-area">
<!--        <div class="zigzag-bottom"></div>-->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="latest-book">
<!--                        <h2 class="title">LIST BOOKS</h2>-->
                        <div class="product-carousel">
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="../resources/images/nhatkytrongtu.jpg" alt="">
                                    <div class="product-hover">
                                        <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to borrow</a>
                                       <!-- <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i> Details of books </a>-->
                                    </div>
                                </div>
                                
                                <h2><a>Nhật Ký Trong Tù</a></h2>
                                <div>
                                     ISBN: code in here
                                </div>
                                <div>
                                     Status: Available/Not
                                </div>
                                <div>
                                     Author: Ho Chi Minh
                                </div>
                                <div>
                                    Description: some things in here/
                                </div>
                            </div>
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="../resources/images/banconamchongoi.jpg" alt="">
                                    <div class="product-hover">
                                        <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to borrow</a>
                                    </div>
                                </div>
                                
                                <h2> <a>Bàn có năm chỗ ngồi</a></h2>
                                <div>
                                     ISBN: code in here
                                </div>
                                <div>
                                     Status: Available/Not
                                </div>
                                <div>
                                     Author: Nguyễn Nhật Ánh
                                </div>
                                <div>
                                    Description: some things in here/
                                </div>                                 
                            </div>
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="../resources/images/nhatkytrongtu.jpg" alt="">
                                    <div class="product-hover">
                                        <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to borrow</a>
                                    </div>
                                </div>
                                
                                <h2><a>Nhật Ký Trong Tù</a></h2>
                                <div>
                                     ISBN: code in here
                                </div>
                                <div>
                                     Status: Available/Not
                                </div>
                                <div>
                                     Author: Ho Chi Minh
                                </div>
                                <div>
                                    Description: some things in here/
                                </div> 
                            </div>
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="../resources/images/toithayhoavangtrencoxanh.jpg" alt="">
                                    <div class="product-hover">
                                        <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to borrow</a>
                                    </div>
                                </div>
                                
                                <h2><a>Tôi Thấy Hoa Vàng Trên Cỏ xanh</a></h2>
                                <div>
                                     ISBN: code in here
                                </div>
                                <div>
                                     Status: Available/Not
                                </div>
                                <div>
                                     Author: Nguyễn Nhật Ánh
                                </div>
                                <div>
                                    Description: some things in here/
                                </div>                           
                            </div>
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="../resources/images/bimattoctien.jpg" alt="">
                                    <div class="product-hover">
                                        <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to borrow</a>
                                    </div>
                                </div>
                                
                                <h2><a>Bí Mật Tóc Tiên</a></h2>
                                <div>
                                     ISBN: code in here
                                </div>
                                <div>
                                     Status: Available/Not
                                </div>
                                <div>
                                     Author: Nguyễn Nhật Ánh
                                </div>
                                <div>
                                    Description: some things in here/
                                </div>                                 
                            </div>
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="../resources/images/cogaidentuhomqua.jpg" alt="">
                                    <div class="product-hover">
                                        <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to borrow</a>
                                    </div>
                                </div>
                                
                                <h2><a>Cô Gái Đến Từ Hôm Qua</a></h2>
                                <div>
                                     ISBN: code in here
                                </div>
                                <div>
                                     Status: Available/Not
                                </div>
                                <div>
                                     Author: Nguyễn Nhật Ánh
                                </div>
                                <div>
                                    Description: some things in here/
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End body content area -->

<div class="allcontain">   
<!-- _______________________________________________________Contact ______________________________-->
	<div class="allcontain">
		<div class="contact">
		<div class="newslettercontent">
				<div class="leftside">
					<img id="image_border" src="../resources/images/border.png" alt="border">
						<div class="contact-form">
							<h1>Contact Us</h1>
								<div class="form-group group-coustume">
									<p class="form-control name-form"><strong>Library:</strong> DXC Library</p>
									<p class="form-control name-form"><strong>Phone:</strong> 0123456789</p>
									<p class="form-control name-form"><strong>Email:</strong> dxclibrary123@gmail.com</p>
									<p class="form-control name-form"><strong>Fax:</strong> dxclibrary123@gmail.com</p>
									<p class="form-control name-form"><strong>Address:</strong> 364 Cong Hoa, Tan Binh</p>
								</div>
						</div>
				</div>
				<div class="google-maps">
				 <div id="googleMap"></div>

				</div>
			</div>

		</div>
	</div>
		<!-- ______________________________________________________End Contact ______________________________-->
	<!-- ______________________________________________________Bottom Menu ______________________________-->
	<div class="bottommenu">
		<div class="bottomlogo">
		<span class="dotlogo">&bullet;</span><img src="../resources/images/footerLogo.png" alt="logo1"><span class="dotlogo">&bullet;;</span>
		</div>
		<p>"To laugh with others is one of life’s great pleasures. To be laughed at by others is one of life’s great hurts."<br> </p>
		 <img src="../resources/images/line.png" alt="line"> <br>
		 <div class="bottomsocial">
		 	<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-google-plus"></i></a>
			<a href="#"><i class="fa fa-pinterest"></i></a>
		</div>
			<div class="footer">
				<div class="copyright">
				  &copy; Copy right 2016 | <a href="#">Privacy </a>| <a href="#">Policy</a>
				</div>
				<div class="atisda">
					 Designed by <a href="http://www.webdomus.net/">Group 2 - Fersher Java DXC.technology 04/2018</a> 
				</div>
			</div>
	</div>
</div>

<!--Contact JS-->
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>

var myCenter=new google.maps.LatLng(10.801726,106.640103);

function initialize()
{
var mapProp = {
  center:myCenter,
  zoom:16,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };

var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

var marker=new google.maps.Marker({
  position:myCenter,
  });

marker.setMap(map);
}
</script>
<!--    Cái Script này dùng cho cả google API, cố định để đây không được di chuyển. -->
<script type="text/javascript" src="../resources/source/bootstrap-3.3.6-dist/js/headerFooter.jquery.js"></script>  
<script>
	$(window).resize(function(){
		var new_height = $("#image_border").height();
		console.log(new_height);
		$("#googleMap").height(new_height);
	});

	$(window).load(function(){
		var new_height = $("#image_border").height();
		$("#googleMap").height(new_height);
		google.maps.event.addDomListener(window, 'load', initialize());
	});
	
</script>
<!--End contact JS-->


<script type="text/javascript" src="../resources/source/bootstrap-3.3.6-dist/js/headerFooter.jquery.js"></script>
<script type="text/javascript" src="../resources/js/headerFooter.isotope.js"></script>
<script type="text/javascript" src="../resources/js/headerFooter.myscript.js"></script> 
<!--<script type="text/javascript" src="js/jquery.1.11.js"></script>-->
<script type="text/javascript" src="../resources/js/headerFooter.bootstrap.js"></script>
    <!-- Google Fonts  Phần khung show book-->
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="../resources/js/showBook.owl.carousel.min.js"></script>
<script src="../resources/js/showBook.jquery.sticky.js"></script>    
<script src="../resources/js/showBook.main.js"></script>
</body>
</html>